/**

    GLOBAL CSS RULES

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #141414;
    --secondryColor: #fff;
    --logoColor: #E50914;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.7;
    background: var(--primaryColor);
    color: var(--secondryColor);
}


